/* reset */
*:not(ol, ul){
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

h2, h3{
    color: #3c4043;
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
    padding: 64px 0 0 0;
}

p, ul{
    line-height: 24px;
    margin: 10px 0;
    padding-top: 20px;
}

li{
    padding-top: 12px;
}


.container{
    max-width: 1080px;
    margin: auto;
    
}