/* reset */
*:not(ol, ul){
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    
}

h2, h3{
    color: #3c4043;
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
    padding: 64px 0 0 0;
}

p, ul{
    line-height: 24px;
    margin: 10px 0;
    padding-top: 20px;
}

li{
    padding-top: 12px;
}


.container{
    max-width: 1080px;
    margin: auto;
    
}


.header-sup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logo, img{
    height: 60px;
    margin-right: 20px;
}

.logo h3{
    padding: 0;
    line-height: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.icone{
    display: flex;
    align-items: center;
}

.iniziale{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: rgb(192, 24, 24);
    border-radius: 50%;
}

i{
    font-size: 20px;
    color: #5f6368;
    margin-right: 20px;
}

.iniziale h2{
    
    padding: 0;
    line-height: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    
}


.navbar{
    border-bottom: 1px solid black;
    
    
}

.navbar ul{
    list-style: none;
    display: flex;
    padding: 0px 20px;
}

.navbar a{
    text-decoration: none;
    margin-right: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #5f6368;
    
}

.navbar ul li:last-child a{
    padding-bottom: 11px;
    border-bottom: 3px solid #3367d6;
    color: #3367d6;
}